@font-face {
    font-family: circularBook;
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: bebasNeue;
    src: url(../fonts/BebasNeue-Regular.otf);
}

* {
    font-family: circularBook;
}

body {
    background-color: rgb(26, 26, 26);
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section {
    background-color: rgb(26, 26, 26);
}

.video-fondo {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.fondo-responsive {
    display: none;
}

.nombre {
    margin-top: 250px;
}

.navegador {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .4s;
    position: fixed;
    top: 0;
}

.navegador:hover {
    background-color: rgb(26, 26, 26);
}

.nav-enlaces {
    color: #fff;
}

.nav-enlaces:hover {
    color: #bbb;
}

.menu-hamburguesa {
    color: #fff;
}

footer {
    background-color: rgb(26, 26, 26);
    height: 900px;
}

.banner {
    background-color: rgb(26, 26, 26);
}

.banner h2 {
    display: inline;
    color: rgba(0, 0, 0, 0);
    font-weight: bold;
    background-image: url(https://t4.ftcdn.net/jpg/04/67/67/87/360_F_467678707_2HGvlibdCAbYS1cNxAgvdMissnB00eiY.jpg);
    background-size: cover;
    -webkit-background-clip: text;
}

.proyectos {
    background-color: rgb(26, 26, 26);
}

.proyectos-container {
    width: 80%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.tarjeta {
    width: 300px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(66, 66, 66);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all .4s ease;
}

.tarjeta img {
    width: 100%;
    height: 200px;
}
.contenido {
    padding: 15px;
    text-align: center;
}

.contenido p {
    line-height: 1.5;
}

.tarjeta:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.pie {
    background-color: rgb(26, 26, 26);
}

.section-contacto {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .fondo-responsive {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    header {
        height: 60vh;
    }

    .responsive-none {
        display: none;
    }

    .video-fondo {
        display: none;
    }

    .proyectos {
        justify-content: start;
    }
    .proyectos__titulo {
        text-align: center;
    }
}